
module_0/.DS_Store
.DS_Store
module_0/.ipynb_checkpoints/
module_1/.ipynb_checkpoints/
module_2/.ipynb_checkpoints/module_2-checkpoint.ipynb
module_3/.ipynb_checkpoints/baseline-sf-tripadvisor-rating-v2-7-checkpoint.ipynb
module_3/.ipynb_checkpoints/module_3-checkpoint.ipynb
module_3/.ipynb_checkpoints/module_3_beta-checkpoint.ipynb
