
module_0/.DS_Store
.DS_Store
module_0/.ipynb_checkpoints/
module_1/.ipynb_checkpoints/
module_2/.ipynb_checkpoints/module_2-checkpoint.ipynb
module_3/.ipynb_checkpoints/baseline-sf-tripadvisor-rating-v2-7-checkpoint.ipynb
module_3/.ipynb_checkpoints/module_3-checkpoint.ipynb
module_3/.ipynb_checkpoints/module_3_beta-checkpoint.ipynb
module_4/Презентация.pptx
module_4/.ipynb_checkpoints/module_4-checkpoint.ipynb
module_5/.ipynb_checkpoints/module_5-checkpoint.ipynb
module_6/.ipynb_checkpoints/Untitled-checkpoint.ipynb
module_6/.ipynb_checkpoints/Untitled2-checkpoint.ipynb
module_6/Data/test.csv
module_6/.ipynb_checkpoints/Making_EDA-checkpoint.ipynb
module_6/.ipynb_checkpoints/parsing_forward-checkpoint.ipynb
module_6/.ipynb_checkpoints/parsing_one_link-checkpoint.ipynb
module_6/.ipynb_checkpoints/parsing_one_link-checkpoint.ipynb
module_6/.ipynb_checkpoints/parsing_revers-checkpoint.ipynb
module_6/.ipynb_checkpoints/parsing_one_link-checkpoint.ipynb
module_6/.ipynb_checkpoints/Prepair_test_dataset-checkpoint.ipynb
module_6/.ipynb_checkpoints/TEMP_WORKING-checkpoint.ipynb
module_6/.ipynb_checkpoints/Prepair_test_dataset-checkpoint.ipynb
module_6/.ipynb_checkpoints/Prepair_test_dataset-checkpoint.ipynb
module_6/.ipynb_checkpoints/parsing_one_link-checkpoint.ipynb
module_6/Data/cars_dicts.txt
module_6/Data/train.csv
module_6/Data/cars_dicts.txt
module_6/Data/cars_dicts.txt
